.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.header-content, .main-content, .side-content, .footer-content{
    background-color: lightgreen;
    margin: 1rem 0;
}

h1, h2{
    margin: 0;
    padding: 0;
}

.header-content, .footer-content{
    height: 80px;
}

.main-content, .side-content{
    height: 200px;
}

@media screen and (min 600px){
    .main-content{
        width: 55%;
        float: left;
    }
    .side-content{
        width: 25%;
        float: right;
    }
}