@media screen and (max-width: 480px){
  .largekitten{
    display: none
  }
}

.gameslist {
  list-style: none;
  padding: 0;
}

.gameslist li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

@media (min-width: 480px) {
  .smallkitten {
    display: none;
  }
}

@media (min-width: 800px) {
  .gameslist li {
    float: left;
    border-bottom: none;
    border-right: 1px solid #ccc;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 6rem;
  }
}